<div class="container formContainer">
  <div class="split">
    <div class="left">
      <h2 class="h3 mb-3 font-weight-normal">Welcome to OC-Audit Portal</h2>
      <div class="p-wrapper">
        <p><i class="fas fa-search-plus"></i> Monitor Site changes</p>
        <p><i class="fas fa-envelope"></i> Get Notified on changes</p>
        <p><i class="fas fa-history"></i> Access to change history</p>
      </div>
    </div>
    <div class="right">
      <h2 class="h3 mb-3 font-weight-normal">Customer Login</h2>
      <h5>Enter your access code! </h5>
      {{# if error }}
              <p class="red-text ">{{ error }}</p>        
      {{/if}}
      <form class="form-signin" method="post" action="login" >
          <div class="input-field col s6">
            <label for="customerId" class="sr-only">Customer Id</label>
            <input type="text" name="customerId" id="customerId" class="form-control" placeholder="customerId"  autofocus required>
          </div>

          <button type="submit" class="btn btn-primary btn-block oc-btn">Login</button>
        </form>
    </div>
  </div>
</div>