<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/github.min.css">
<link href="/css/diff2html.css" rel="stylesheet">

{{#if code}}
        <div id="code">{{{code}}}</div>
{{/if}}