<style>
    img {
        max-width: 150px;
    }
</style>
<div class="container">
    <h1>Congratulations!!!</h1>
    <h1>Welcome to OC SCAN</h1>
    <p>Your site has been registered and you can login using your customer Code</p>
</div>
    