<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
        © 2019 Copyright
        <a class="grey-text text-lighten-4 right" target="_blank" href="https://omnicommander.com">OMNICOMMANDER</a>
        </div>
    </div>
</footer>