<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            <a href="https://www.omnicommander.com/contact-us" class="white-text">Contact US</a>
        <a class="grey-text text-lighten-4 right" target="_blank" href="https://omnicommander.com">© 2019 OMNICOMMANDER</a>
        </div>
    </div>
</footer>